---
layout: layout.liquid
title: Planets
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Trading Cards</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Planetary Playing Cards</h1>
    <main>
        <div class="module one">
            <h2>Sun</h2>
            <div class = "planet sun"></div>
            <h3>Type G2V</h3>
        </div>
        <div class="module two">
            <h2>Mercury</h2>
            <div class = "planet mercury"></div>
            <h3>0.39 AU</h3>
        </div>
        <div class="module three">
            <h2>Venus</h2>
            <div class = "planet venus"></div>
            <h3>0.72 AU</h3>
        </div>
        <div class="module four">
            <h2>Earth</h2>
            <div class = "planet earth"></div>
            <h3>1.00 AU</h3>
        </div>
        <div class="module five">
            <h2>Mars</h2>
            <div class = "planet mars"></div>
            <h3>1.52 AU</h3>
        </div>
        <div class="module six">
            <h2>Jupiter</h2>
            <div class = "planet jupiter"></div>
            <h3>5.20 AU</h3>
        </div>
        <div class="module seven">
            <h2>Saturn</h2>
            <div class = "planet saturn"></div>
            <h3>9.58 AU</h3>
        </div>
        <div class="module eight">
            <h2>Uranus</h2>
            <div class = "planet uranus"></div>
            <h3>19.18 AU</h3>
        </div>
        <div class="module nine">
            <h2>Neptune</h2>
            <div class = "planet neptune"></div>
            <h3>30.07 AU</h3>
        </div>
    </main>
</body>
</html>